<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- customized styles -->
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h1>To Market</h1>
          <p>find a farmer's market anywhere</p>
        </div>
        <div class="col-sm-3">
          <p><a class="btn btn-success btn-sm" href="/signup" type="button">Are You A Vendor?</a></p>
          <p><a class="btn btn-success btn-lg" href="/" type="button">Home</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Log In</h3>
        <p>Welcome back, vendors!</p>
        <br>
        <p>Vendors who are registered with To Market can communicate with their customers by posting on a market page. Tell people about your special pricing or seasonal items.<p/>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <form role="form" method="post" action="/login">
    <!--            <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3">
              <div class="form-group">
                <input type="email" name="vendor[email]" id="email" class="form-control input-sm" placeholder="Email Address">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3">
              <div class="form-group">
                <input type="password" name="vendor[password]" id="password" class="form-control input-sm" placeholder="Password">
              </div>
            </div>
          </div>
    <!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->          
            <button type="submit" value="login" class="btn btn-success bnt-lg pull-right">Log In</button>
  
        </form>
      </div>
    </div>
  </div>
          

  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- underscore cdn -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- customized script -->
  <script type="text/javascript" src="./scripts/scripts.js"></script>
  
</body>
</html>

