<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- 	google fonts	 -->
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<!-- customized styles -->
		<link rel="stylesheet" type="text/css" href="./styles/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<a href="/"><h1 class="courgette">To Market</h1></a>
					<p>find a farmer's market anywhere</p>
				</div>
				<div class="col-sm-3">
					<p><a class="btn btn-success btn-sm courgette" href="/signup" type="button">Are You A Vendor?</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3 class="courgette">Sign Up</h3>
				<p>It's free and always will be!</p>
				<br>
				<p>Vendors who are registered with To Market can communicate with their customers by posting on a market page. Tell people about your special pricing or seasonal items.<p/>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
		    	<form role="form" id="signupForm" autocomplete="off" method="post" action="/vendors">
		<!-- 	    			<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
		            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
							</div>
						</div>
					</div> -->

				<div class="row">
				  <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3">
				    <div class="form-group cmxform" id="signupForm"  autocomplete="off">
				    	  <label for="email"> Email <small>(required, won't be published)</small></label>
					      <input type="email" name="vendor[email]" id="email" class="form-control input-sm" placeholder="example@email.com" required>
				    </div>
				  </div>
				</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3">
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="vendor[password]" id="password" class="form-control input-sm" minlength="6" placeholder="Password" required>
							</div>	
						</div>
					</div>
		<!--     		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->    		  
					  <button type="submit" class="btn btn-success bnt-lg pull-right courgette">Sign Me Up</button>
					  <br>
					  <br>
					  <a href="/login" class="pull-right">I'm already a member</a>
				</form>
			</div>
		</div>
	</div>
	        

	<!-- jquery cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- jquery validation plugin -->
	<script src="js/jquery.validate.js"></script>
	<!-- underscore cdn -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- customized javascript -->
	<script type="text/javascript" src="./scripts/scripts.js"></script>
	
</body>
</html>

