body {
	background-color: #fefbf7;
}
.jumbotron h1 {
	color: white;
	
	
}

.col-sm-3 {
	vertical-align: bottom;
}

.jumbotron {
	background-image: url("http://i.imgur.com/eDO76Fi.jpg");
	background-size: 100%;
	vertical-align: center;
	color: white;
}

footer {
	text-align: center;
	font-style: italic;
}

.col-md-8 {
	height: 500px;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}